extends layout

block content
  h1= title

  - 
    const results = [
      {
        breed: "Fantail",
        gender: "Female",
        price: "59,99",
      },
      {
        breed: "Jacobin",
        gender: "Male",
        price: "39,99",
      },
      {
        breed: "Archangel",
        gender: "Female",
        price: "159,99",
      }
    ];

  div.container-fluid
    div.row
      each pigeon, index in results
        div(class="col-sm-2", onClick=`buy(${index})`)
          p Breed: #{pigeon.breed}
          p Gender: #{pigeon.gender}
          p Price: #{pigeon.price}
  script. 
    function buy(index) {
      alert(`You purchased item ${index}`)
    }


